<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile"
                     filename="build/cify/framework-log/cify-framework_${date:yyyyMMdd_HHmmss}${sys:task:-}.log"
                     filepattern="build/cify/framework-log/cify-framework_%d{yyyyMMdd_HHmmss}${sys:task:-}.log">
            <PatternLayout pattern="[%-5level] %d{yyyyMMdd_HHmmss} [%t] %c{1} [%marker] - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT" level="${sys:console:-ERROR}"/>
        </Root>
    </Loggers>
</Configuration>